services:
  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    configs:
      - source: rabbitmq-plugins
        target: /etc/rabbitmq/enabled_plugins
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq

  postgres:
    image: postgres:17
    command: -c 'max_connections=500' -c 'log_statement=all'
    environment:
      POSTGRES_PASSWORD: Strong_Password1234%
      POSTGRES_USER: user
      POSTGRES_ROLE: root
    ports:
      - 5432:5432
    volumes:
      - ./volume/postgres/initdb:/docker-entrypoint-initdb.d/:rw

configs:
  rabbitmq-plugins:
    content: "[rabbitmq_management]."  

volumes:
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local